{% extends 'base.html' %}

{% block title %}Listado de Reseñas{% endblock %}

{% block content %}
<div class="container mx-auto mt-8 flex-grow flex flex-col">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mb-8">
        {% for reseña in object_list %}
        <div class="bg-white shadow-md rounded-md overflow-hidden border border-blue-500 p-4">
            <h2 class="text-xl font-bold mb-2">{{ reseña.nombre }}</h2>
            <p class="text-gray-600 mb-4"><strong>Restaurante:</strong> {{ reseña.restaurante.nombre }}</p>
            <p class="text-gray-600 mb-4"><strong>Comentario:</strong> {{ reseña.comentario|truncatechars:30 }}</p>
            <div class="flex items-center mb-2 space-x-2">
                <!-- Íconos de estrella para representar la puntuación -->
                {% include 'star_icon.html' %}
                <!-- Valor de la puntuación -->
                <span class="font-bold">{{ reseña.valoracion }}</span>
            </div>
            <p class="text-gray-600 mb-4"><strong>Fecha:</strong> {{ reseña.fecha }}</p>
            <a href="{% url 'detail_reseña' reseña.pk %}" class="text-blue-500 hover:underline">Seguir leyendo</a>
        </div>
        {% endfor %}
    </div>

    <!-- Botón para crear reseña -->
    {% if request.user.is_authenticated and request.user.user_type == 'reseñador' %}
        <div class="mb-4">
            <a href="{% url 'crear_reseña' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Crear Reseña</a>
        </div>
    {% endif %}

    <!-- Paginación -->
    <div class="mt-auto">
        <div class="flex justify-center pb-8">
            <div class="flex items-center space-x-2">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Anterior</a>
                {% endif %}

                <!-- Señaladores de páginas -->
                {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                        <span class="bg-blue-500 text-white font-bold py-2 px-4 rounded">{{ num }}</span>
                    {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                        <a href="?page={{ num }}" class="bg-white hover:bg-blue-500 hover:text-white text-blue-500 font-bold py-2 px-4 rounded">{{ num }}</a>
                    {% elif num == 1 %}
                        <a href="?page={{ num }}" class="bg-white hover:bg-blue-500 hover:text-white text-blue-500 font-bold py-2 px-4 rounded">{{ num }}</a>
                        {% if page_obj.number > 4 %}
                            <span class="font-bold py-2 px-4">...</span>
                        {% endif %}
                    {% elif num == page_obj.paginator.num_pages %}
                        {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                            <span class="font-bold py-2 px-4">...</span>
                        {% endif %}
                        <a href="?page={{ num }}" class="bg-white hover:bg-blue-500 hover:text-white text-blue-500 font-bold py-2 px-4 rounded">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Siguiente</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
