{% extends 'base.html' %}

{% block title %}Ramsey Review{% endblock %}

{% block content %}
<div class="container mx-auto mt-8 flex-grow flex flex-col">
    <h2 class="text-2xl font-bold mb-4">Últimas Reseñas</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mb-8">
        {% for reseña in ultimas_reseñas %}
        <div class="bg-white shadow-md rounded-md overflow-hidden border border-blue-500 p-4">
            <h2 class="text-xl font-bold mb-2">{{ reseña.titulo }}</h2> <!-- Suponiendo que tienes un título en la reseña -->
            <p class="text-gray-600 mb-4"><strong>Comentario:</strong> {{ reseña.comentario }}</p> <!-- Suponiendo que tienes un comentario en la reseña -->
            <p class="text-gray-600 mb-4"><strong>Restaurante:</strong> {{ reseña.restaurante.nombre }}</p>
            <!-- Mostrar la imagen del restaurante -->
            {% if reseña.restaurante.imagen %}
                <img src="{{ reseña.restaurante.imagen.url }}" alt="{{ reseña.restaurante.nombre }}" class="mb-4" style="max-width: 100%;">
            {% else %}
                <p>No hay imagen disponible.</p>
            {% endif %}
            <a href="{% url 'detail_reseña' reseña.pk %}" class="text-blue-500 hover:underline">Ver detalles de la reseña</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
